*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background:
   linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
   ),
   url("/img/task-bg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 90%;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin:10px;
    text-align: center;
    
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  #taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  #addTaskBtn {
    background: #81c784;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  #addTaskBtn:hover {
    background: #388E3C;
  }
  
  /* Lista de tareas */
  #taskList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #taskList li {
    background: #f0f4f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #taskList li.completed {
    text-decoration: line-through;
    color: #4CAF50;
  }
  
  .task-actions {
    display: flex;
    gap: 10px;
  }
  
  .task-actions button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .task-actions .complete-btn {
    color: #4CAF50;
  }
  
  .task-actions .delete-btn {
    color: #E53935;
  }
  
  /* Responsividad */
  @media (max-width: 480px) {
    .task-input {
      flex-direction: column;
    }
    #taskInput {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  